/*--Color vars--*/
:root {
  --text_boxes: #aabbe6;
  --backgrounds: #fee3c8;
  --nav_and_footer: #6262a0;
}
/*--Color vars--*/


/*--Home page--*/
body {
    margin: 0px;
    background-color: var(--backgrounds);
}

#map_iframe {
    height: 100%;
    width: 100%;
    border: 0;
}

#home_grid_wrapper {
    display: grid;
    grid-template-columns: minmax(470px, 4fr) minmax(230px, 2fr) minmax(200px, 1fr);
    grid-template-rows: 0.8fr 6.2fr 1fr 5fr 5fr 1fr;
    height: 250vh;
    width: 100%;
    grid-template-areas:
    "hna hna hna"
    "hhs hhs hhs"
    ".   .   .  "
    "hgi hgi hoc"
    "hdt hdm hdm"
    "hfo hfo hfo"
    ;
}

#home_nav {
    background-color: var(--nav_and_footer);
    grid-area: hna;
}

#home_hero_section {
    grid-area: hhs;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    background-image: url("../img/home_hero.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;  
}


#home_hero_logo {
    height: 300px;
    width: auto;
    flex-direction: column;
}


#home_general_info {
    grid-area: hgi;
}

#home_our_capybaras {
    background-color: var(--text_boxes);
    grid-area: hoc;
}

#home_directions_text {
    grid-area: hdt;
}

#home_directions_map{
    background-color: rgb(94, 141, 110);
    grid-area: hdm;
}

#home_footer {
    background-color: var(--nav_and_footer);
    grid-area: hfo;
}
/*--Home page--*/